extends layout

block content
  h1= title
  p Welcome to #[em LocalLibrary], a very basic express website developed as a small project to test my knowledge.

  h1 Dynamic content

  p The inventory has the following record counts:

  ul
    li #[strong Knives:] !{knife_count}
    li #[strong Copies:] !{knife_instance_count}
    li #[strong Copies available:] !{knife_instance_available_count}
    li #[strong Metals:] !{metal_count}
    li #[strong Types:] !{knife_type_count}

